<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.encuestassv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EncuestasSV">

        <activity
            android:name=".SplashActivity">
        </activity>

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FoodListActivity"
            android:label="Lista de comidas" />

        <activity android:name=".FruitListActivity" />

        <activity android:name=".SaladListActivity" />

        <activity android:name=".MeatListActivity" />

        <activity
            android:name=".ListarActivity"
            android:label="Lista de encuestados" />

        <activity
            android:name=".FoodCategoryActivity"
            android:label="Categoria comida" />

        <activity
            android:name=".RegistrarActivity"
            android:label="Registrar Encuestas" />

        <activity
            android:name=".MostrarActivity"
            android:label="Desarrollador" />

        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>